/bin/obj
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
/bin/*.iobj
/bin/*.ipdb
/bin/libdui.dll
/bin/libduid.dll
/bin/opencv_*.dll
/lib/libdui.lib
/lib/libdui.exp
/lib/libduid.lib
/lib/libduid.exp
/lib/libutils.lib
/lib/libutilsd.lib
/lib/libstream.lib
/lib/libstreamd.lib
/lib/libcamerad.lib
/lib/libcamera.lib
/lib/libface.lib
/lib/libfaced.lib
/ipch
*.suo
*.sdf
*.opensdf
*.aps
*.VC.opendb
*.VC.db
