/bin/obj
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
/bin/*.iobj
/bin/*.ipdb
/bin/libdui.dll
/bin/libduid.dll
/bin/opencv_*.dll
/libs/libdui.lib
/libs/libdui.exp
/libs/libduid.lib
/libs/libduid.exp
/libs/libutils.lib
/libs/libutilsd.lib
/libs/libstream.lib
/libs/libstreamd.lib
/libs/libcamerad.lib
/libs/libcamera.lib
/libs/libface.lib
/libs/libfaced.lib
/ipch
*.suo
*.sdf
*.opensdf
*.aps
*.VC.opendb
*.VC.db
